@use '@/colors.scss' as *;

.container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 16px;
  height: 72px;
  background-color: $primary500;
  gap: 16px;
  position: relative;
}

.elotian {
  position: absolute;
  left: 16px;
  width: 80px;
  cursor: pointer;
}

.active {
  height: 34px;
  border-radius: 20px;
  background-color: white;
  color: $grey1000;
  padding: 8px 16px;
  display: flex;
  align-items: center;
  text-decoration: none;
}

.pending {
  padding: 8px 16px;
  text-decoration: none;

  span {
    color: white;
  }
}

.accountAndSignOut {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 15px;
  position: absolute;
  right: 16px;
}

.account {
  flex-direction: row;
  align-items: center;
}
