$grey10: #f0f2f4;
$grey50: #7989a0;
$grey60: #5f6f86;
$grey300: #f2f2f2;
$grey400: #a2a4ab;
$grey500: #8d909b;
$grey600: #676972;
$grey700: #36383e;
$grey1000: #18191b;
$green400: #47ea4d;
$red400: #fe2020;
$primary100: #eff5ff;
$primary200: #dce9ff;
$primary300: #c2d9ff;
$primary400: #0a68ff;
$primary500: #2e7d32;
$primary600: #0045b4;
$primary700: #023b96;
$primary800: #022763;
$primary900: #062556;
$purple400: #7e00f5;
$blue400: #36bbe7;
$orange400: #f17105;
$yellow400: #ffe926;
